body {
    overflow: hidden;
    margin: 0px;
    padding: 5px;
    background: white;
}

#browse-unlimited-loader {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #148000;
}
